TwitterApplicationAPI/twitter-model/target/
TwitterApplicationAPI/twitter-rest-api/target/
TwitterApplicationAPI/twitter/target/
/TwitterApplicationAPI/twitter-web-client/target/
/TwitterApplicationAPI/hibernate4/target/